#game {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    border: 1px solid black;
    user-select: none;

    td, th {
        width: 28px;
        height: 28px;
        padding: 4px;
        line-height: 1.5;
        white-space: nowrap;

        &:nth-child(5n + 1) {
            border-right: 1px solid black;
        }
    }

    tr {
        &:nth-child(5n + 1) {
            td,
            th {
                border-bottom: 1px solid black;
            }
        }
    }

    th {
        background-color: #eee;
        font-family: 'Ubuntu Mono', monospace;

        &.highlight {
            background-color: #ccc;
        }
    }

    td {
        border-top: 1px dotted #aaa;
        border-left: 1px dotted #aaa;
        
        &:hover {
            opacity: 0.85;
            background-color: #f3f3f3;
        }

        &.on {
            background-color: #6d6;
        }

        &.off {
            background-color: #666;
        }
    }
}

#settings {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: monospace;
    color: rgb(0, 59, 126);
}


#new-game, #solution {
    font-size: 17px;
    color: white;
    font-family: monospace;
    background-color: rgb(173, 194, 231);
    border: 2px solid rgb(0, 59, 126);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

#new-game:hover, #solution:hover {
    color: rgb(0, 59, 126);
}